@import url('https://fonts.googleapis.com/css?family=Unica+One');

body {
    margin: 0%;
    padding: 0%;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ff7373' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
 header {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 50px;
        margin: 25px;   
}
.header-design {
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 50px;
    background-color: blue;
}
.content {
    margin: 0;
    padding: 0;
}
.content-design {
    background-color: red;
    min-height: 100vh;
}
.column {
    width: 100%;
    margin: 0;
    padding: 0;
    background: pink;
}
ul.main-social-links {
    list-style-type: none;
    padding: 20px;
    border-radius: 5px;
}
