@import url('https://fonts.googleapis.com/css?family=Unica+One');

body {
    margin: 0%;
    padding: 0%;
}
 header {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 50px;
}
.header-design {
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 50px;
    background-color: #41676e;
}