@import url('https://fonts.googleapis.com/css?family=Unica+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0%;
    padding: 0%;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ff7373' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

 header {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 50px;
        margin: 25px;   
}

.header-design {
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 50px;
    background-color: #dcedc1;
}

.content {
    margin: 0;
    padding: 0;
}

.content-design {
    min-height: 100vh;
}

.column {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    background: pink;
}

ul.main-social-links {
    list-style-type: none;
    padding: 20px;
    border-radius: 5px;
}

.image-holder img {   
    width: 100%;
    margin: 0;
    padding: 0;
}

ul.main-menu {
    list-style-type: none;
    padding: 20px;
    margin-left: 5%;
}

ul.main-menu li a {
    padding: 10px;
    color:  #a2c0b7;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

ul.main-menu li a:hover {
    color:	#83d0c9;
}

.paragraph {
    text-align: justify;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;  
    color: #41676e;
    margin: 10px 150px;
    padding: 0;
}

.grid {
    display: grid;
    border: 2px #41676e solid;
    height: 300px;
    width: 300px;
    margin: 50px 200px;
}